@tailwind base;
@tailwind components;
@tailwind utilities;
/* font google */
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
input {
  outline: none;
}
img {
  border: none;
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hide-nav::-webkit-scrollbar {
  display: none;
}
.center-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ql-container {
  min-height: 200px;
}
.ql-container.ql-snow {
  border: none !important;
  outline: none;
}
.ql-toolbar.ql-snow {
  position: sticky !important;
  top: 0;
  z-index: 99;
  background-color: whitesmoke;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-family: "Source Code Pro", monospace !important;
  font-style: normal;
  padding-left: 0;
  padding-right: 0;
}
